<div class="text-left mt-2">
  <!-- Alerta -->
  <div *ngIf="mensaje" class="alert alert-info alert-dismissible fade show" role="alert">
    <span>{{mensaje}}</span>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <!-- /Alerta -->

  <h2 class="text-center">
    Zona privada de gestión de frutas
  </h2>
  
  <div class="row mt-4 mb-2 justify-content-between">
    <!-- Filtro -->
    <div class="col col-4">
      <div class="btn-group" role="group" aria-label="Basic example">
        <button type="button" (click)="filtrar(1)" class="btn btn-success {{(todas)?'':'active'}}">Todas</button>
        <button type="button" (click)="filtrar(0)" class="btn btn-success {{(!todas)?'':'active'}}">En oferta</button>
      </div>
    </div>
    <!-- /Filtro -->
    
    <!-- Buscador -->
    <div class="col col-3">
      <div class="input-group mb-2">
        <input type="text" [(ngModel)]="nueva" class="form-control" placeholder="Fruta a buscar...">
        <div class="input-group-prepend">
          <span class="input-group-text"><i class="fas fa-search"></i></span>
        </div>
      </div>
    </div>
    <!-- /Buscador -->
  </div>

  <div class="text-right mb-2">
    <a class="btn btn-outline-primary" [routerLink]="['../gestion-frutas', -1]">Crear nueva fruta</a>
  </div>
  
  <div class="tabla-scroll mt-3 table-responsive">
      <!-- Tabla -->
      <table class="table table-striped display" id="datatable" style="width:100%">
        <thead class="thead-dark">
          <tr class="text-center">
            <th scope="col">Id</th>
            <th scope="col">Nombre</th>
            <th scope="col">Precio</th>
            <th scope="col">Calorías</th>
            <th scope="col">Oferta</th>
            <th scope="col">Imagen</th>
            <th scope="col">#</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let fr of frutas | oferta:todas | buscar:nueva" class="text-center">
            <td>{{fr.id}}</td>
            <td><a [routerLink]="['../gestion-frutas', fr.id]">{{fr.nombre}}</a></td>
            <td>{{fr.precio}}</td>
            <td>{{fr.calorias}}</td>
            <td *ngIf="fr.oferta">Si</td>
            <td *ngIf="!fr.oferta">No</td>
            <td> <img style="width:50px" src="{{fr.imagen}}" alt="imagen-fruta"> </td>
            <td><i (click)="eliminarFruta(fr.id)" class="fas fa-trash-alt text-danger"></i></td>
          </tr>
        </tbody>
      </table>
      <!-- /Tabla -->
  </div>
</div>