<div class="text-left mt-2">
  <h2 class="text-center">
      Listado completo de frutas
  </h2>

  <div class="row mt-4 mb-2 justify-content-between">
    <div class="col col-4">
      <div class="btn-group" role="group" aria-label="Basic example">
        <button type="button" (click)="filtrar(1)" class="btn btn-success {{(todas)?'':'active'}}">Todas</button>
        <button type="button" (click)="filtrar(0)" class="btn btn-success {{(!todas)?'':'active'}}">En oferta</button>
      </div>
    </div>
    
    <div class="col col-3">
      <div class="input-group mb-3">
        <input type="text" [(ngModel)]="nueva" class="form-control" placeholder="Fruta a buscar...">
        <div class="input-group-prepend">
          <span class="input-group-text"><i class="fas fa-search"></i></span>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-3 justify-content-start">
    <div class="col col-4 mb-2" *ngFor="let fr of frutas | oferta:todas | buscar:nueva">
      <app-fruta-card [_fruta]="fr"></app-fruta-card>
    </div>
  </div>
</div>